html,
body {
  padding: 0;
  margin: 0;
  background-color: #efcb68;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  margin-right: 20px;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  margin: 5px;
  border-radius: 5px;
  background-color: #160c28;
  color: #efcb68;
  width: 80px;
  height: 30px;
  font-weight: 700;
}

button:hover {
  background-color: #351e5f;
  color: #e4a909;
}
