html,
body {
  padding: 0;
  margin: 0;
  background-color: #e7ecef;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
Header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tuit-text {
  color: brown;
}

button {
  margin: 5px;
}

li {
  list-style: none;
}
