.header {
  text-align: center;
  background-color: #160c28;
  width: 600px;
  color: #efcb68;
  padding: 20px;
  justify-content: space-between;
}

.header:hover {
  color: #e4a909;
}

.timeline_title {
  color: #160c28;
}
.tuitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tuit {
  border: 1px solid black;
  padding: 20px;
  height: 100px;
  width: 500px;
  list-style: none;
  font-weight: bold;
  color: #160c28;
  margin-bottom: 50px;
  background: url("/bongocat.png") no-repeat;
  background-size: contain;
  background-position: right;
}
.form {
  display: flex;
  flex-direction: column;
}
.detailsContainer {
  display: flex;
  justify-content: center;
  height: 600px;
  margin-top: 50px;
  background: url("/bongocat.png") no-repeat;
  background-size: auto;
  background-position: right;
}
.detailsCard {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  height: 150px;
  width: 500px;
  list-style: none;
  font-weight: bold;
  color: #160c28;
  margin-bottom: 50px;
}
