.header {
  text-align: center;
  background-color: #160c28;
  width: 600px;
  color: #efcb68;
  padding: 20px;
  justify-content: space-between;
}

.header:hover {
  color: #e4a909;
}

.timeline_title {
  color: #160c28;
}
